
<div class="row">
    {{#each list}}

        <div class="column card">
            <div>{{name}}</div>
            <div>
                <a href="{{link}}">
                <img src="{{image}}" alt="">
                </a>
            </div>
            <div class="textbox">
                <p>{{about}}</p>
            </div>
        </div>
    {{/each}}
</div>


